<!--

# Copyright (c) 2023, ANTOBOT LTD.
# All rights reserved.

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # 

# # # Code Description:     Launches the nodes to allow joystick control of the robot.

# Contact: daniel.freer@antobot.ai

# # # #  # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
-->

<launch>

  <!-- if use_joy is true, use joy_node -->
  <!-- if use_joy is false, use joy_sbus_node -->
  <arg name="use_joy" default="true" />

  <node if="$(arg use_joy)" name="joy_node" pkg="joy" type="joy_node">
    <param name="dev" value="/dev/input/js0" />
    <remap from="joy" to="joy_orig"/>
  </node>

  <node if="$(arg use_joy)" name="joy_remap" pkg="joy" type="joy_remap.py">
    <remap from="joy_in" to="joy_orig"/>
    <remap from="joy_out" to="joy"/>
    <rosparam command="load" file="$(find joy)/config/gamepad.yaml"/>
  </node>

  <node name="teleop" pkg="antobot_teleop" type="teleop.py" output="screen"></node>

</launch>

